*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* outline: red 1px solid; */

    --color1:#5e9393;
    --color2:#75b7b7;
    --color3:#44708d;
    --color4:#05bdff;
    --color5:#cf4545;
    --color6:#0100ff;
    --color7:#3a5f5f;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.game{
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.top{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.head{
    grid-area: 1/1/2/3;
    width: 20%;
    text-align: center;
}
.btn{
    padding: 8px;
    border-radius: 5px;


    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .2s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: white;
    box-shadow: inset 0 0 0 2px white;
    background-color: transparent;
}
.btn:hover{
    color: #fff;
    background-color: var(--color7);
}  
.playAgain{
    display: none;
}            
.header, .result{
    text-align: center;
}
.grids{
    grid-row: 2;
    width: 35%;
    height: 75%; 
    display: grid;
    grid-template-rows: repeat(1fr, 10);
    grid-template-columns: repeat(1fr, 10);
    /* gap: 3px; */
}
.square{
    background-color: var(--color2);
    outline: 3px solid var(--color1);
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 3px; */
}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.playerShip{
    background-color: var(--color4);
}
.posShip{
    background-color: var(--color3);
}
.hit{
    background-color: var(--color6);
}
.miss{
    background-color: var(--color5);
}
.enemyGrid{
    outline: #074b19 5px solid;
}

